In [2]:
#!/usr/bin/env python
# coding: utf-8

# In[22]:

import torch
import pandas as pd
from torch.utils.data import Dataset, DataLoader,random_split
from torchvision import transforms, utils
from PIL import Image
import numpy as np





def ConcatenateSample(data):
    minsample=0
    first=True
    for i in data:
        num=i[i.columns[0]].count()
        if first:
            minsample=num
            first=False
        if minsample>num:
            minsample=num
    df=[]
    for i in data:
        df.append(i.sample(n=minsample, random_state=1))        
    df=pd.concat(df)
    df=df.sort_index()
    return df
def load_image( infilename ):
    img = Image.open('celeba-dataset\img_align_celeba\img_align_celeba\\'+ infilename )
    return img

In [3]:
checkpath='celeba-dataset\list_attr_celeba.csv'

In [4]:
##EDIT CSV

attribute_path='celeba-dataset\list_attr_celeba.csv'
targetfield=["Male","Eyeglasses"]

def dataGathering(path,field=[],value=0,number=0):
    data=pd.read_csv(path,index_col='image_id')
    data=data[field]
    return data
attribute_Data=dataGathering(attribute_path,targetfield)

In [5]:
len(attribute_Data.index)

202599

In [6]:
from os import listdir
from os.path import isfile,join

In [24]:
localfilepath='celeba-dataset/img_align_celeba/'

In [25]:
files=[f for f in listdir(localfilepath) ]

In [26]:
len(files)

196990

In [27]:
attribute_Data

            Male  Eyeglasses
image_id
000001.jpg    -1          -1
000002.jpg    -1          -1
000003.jpg     1          -1
000004.jpg    -1          -1
000005.jpg    -1          -1
...          ...         ...
202595.jpg    -1          -1
202596.jpg     1          -1
202597.jpg     1           1
202598.jpg    -1          -1
202599.jpg    -1          -1

[202599 rows x 2 columns]

In [28]:
df = pd.DataFrame(np.array([None, None, None]).reshape(-1,3), 
                      columns=['image_id','Male','Eyeglasses'])

In [29]:
def set_df(name,male,eyeglasses):
    df = pd.DataFrame({"Male":[male],
                       "Eyeglasses":[eyeglasses] 
                   }
                  ,index=[name]) 
    return df

In [30]:
test1=set_df('0001.jpg','1','-1')
test2=set_df('0002.jpg','1','-1')

test1.append(test2)

         Male Eyeglasses
0001.jpg    1         -1
0002.jpg    1         -1

In [31]:
test1

         Male Eyeglasses
0001.jpg    1         -1

In [32]:
first=True
for i in range(len(attribute_Data.index)):
    checkfilename=attribute_Data.index[i]
    if checkfilename.endswith('.jpg'):
        checkfilename = checkfilename[:-4]
        checkfilename=checkfilename+'.png'
    if checkfilename in files:
        #print("File Found Saving")
        if first:
            df=set_df(checkfilename,attribute_Data['Male'][i],attribute_Data['Eyeglasses'][i])
        else:
            new_df=set_df(checkfilename,attribute_Data['Male'][i],attribute_Data['Eyeglasses'][i])
            df=df.append(new_df)
            
        first=False       

        
        #print("File Not Found,Continnue")

In [34]:
df.to_csv("img_data.csv", mode='w')

In [ ]:
files.index(checkfilename)

In [33]:
df

            Male  Eyeglasses
000001.png    -1          -1
000002.png    -1          -1
000005.png    -1          -1
000006.png    -1          -1
000007.png     1          -1
...          ...         ...
202595.png    -1          -1
202596.png     1          -1
202597.png     1           1
202598.png    -1          -1
202599.png    -1          -1

[196990 rows x 2 columns]